<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<section class="todoapp" id="app">
		<header class="header">
			<h1>todos</h1>
			<input class="new-todo" placeholder="请输入添加的事件名" autofocus @keydown.enter="add" v-model="content">
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section class="main">
			
			<input id="toggle-all" class="toggle-all" type="checkbox" @change="toggleAll" v-model = "checkall">
			<label for="toggle-all">Mark all as complete</label>


			<ul class="todo-list" >
				<!-- 这里不需要this.editId,因为页面中的数据都是data里的 -->
				<li   v-for="(v,i) in datalist" v-bind:class="{editing:editId == v.id,completed:v.isCompleted}">
					<div class="view">
						<input class="toggle" type="checkbox" v-model="v.isCompleted" @change="singleTaskCheck">
						<label @dblclick="edit(v.id)">{{v.title}}</label>
						<button class="destroy" @click = "del(v.id)"></button>
					</div>
					
					<input class="edit" value="Create a TodoMVC template" v-model="v.title"  @keydown.enter="sure">
				</li>
			</ul>


		</section>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer class="footer">
			<!-- This should be `0 items left` by default -->
			<span class="todo-count"><strong v-text="getLeftCount()">0</strong> item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul class="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<!-- Hidden if no completed items are left ↓ -->
			<button class="clear-completed" v-show="isHideClrBtn()" @click="clearAllComepleted">Clear completed</button>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<!-- Remove the below line ↓ -->
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<!-- Change this out with your name and url ↓ -->
		<p>Created by <a href="http://todomvc.com">you</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="./node_modules/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
